[Desktop Entry]
Encoding=UTF-8
Name=kdbusnotification
Name[xx]=xxkdbusnotificationxx
Exec=notification-daemon-tde
Icon=bell
Type=Application
Comment=DBUS notification service daemon
X-TDE-autostart-phase=1
X-TDE-StartupNotify=false
X-TDE-UniqueApplet=true
Categories=System;

